#logo{
    border-radius: 5%;
    max-height: 200px;
    max-width: 200px;
    width: 60%;
    height: 60%;
    transition: .2s;
    filter: drop-shadow(5px 5px 5px #aaa);
}

#logo:hover {
	transform: scale(1.1);
}

body {
	margin: 0 auto;
    background: red;
}

input[type="button"] {
	background: #7BA5EB;
	border-radius: 20px;
	max-width: 200px;
	max-height: 40px;
	height: 5%;
	width: 30%;
	border: none;
	margin-top: 50px;
	transition: .2s;
	font-family: 'Balsamiq Sans', cursive;
	font-size: 20px;
	padding: 5px;
}

input[type="button"]:hover {
	background: #1366F0;
	font-weight: 500;
	transform: scale(1.1);
}

header {
	margin: 20px auto 180px auto;
	text-align: center;
}

header h1 {
	font-size: 40px;
	font-family: 'Balsamiq Sans', cursive;
}

audio {
	margin-top: 40px;
}

.gallery {
	margin-top: 80px;
	margin-bottom: 5px;
}

.gallery h3 {
	font-family: 'Balsamiq Sans', cursive;
	font-size: 30px;
}

img.d-block {
	border-radius: 5%;
	width: 90vw;
	max-width: 500px;
}

.icons {
	width: 50px;
	height: 50px;
	transition: .2s;
}

.icons:hover {
	transform: scale(1.1);
}

a {
	text-decoration: none;
}

footer {
	margin: 150px auto 20px auto;
}

footer h3 {
	font-family: 'Balsamiq Sans', cursive;
	font-size: 30px;
	text-align: center;
	margin-bottom: 15px;
}

footer a {
	margin-left: 5px;
	margin-right: 5px;
}

.carousel-inner h5 {
	font-size: 40px;
	font-family: 'Balsamiq Sans', cursive;
}

.carousel-inner p {
	font-size: 20px;
	font-family: 'Balsamiq Sans', cursive;
}

@media (max-width: 500px) {
	
	.carousel-inner h5 {
		font-size: 30px;
	}

	.carousel-inner p {
		font-size: 15px;
	}

	input[type="button"] {
		font-size: 12px;
	}

	header {
		margin: 20px auto 140px auto;
	}
}

@media (max-width: 350px) {
	
	.carousel-inner h5 {
		font-size: 24px;
	}

	.carousel-inner p {
		font-size: 12px;
	}

	header h1 {
		font-size: 16px;
	}

	footer h3 {
		font-size: 20px;
	}

	.gallery h3 {
		font-size: 20px;
	}

	header {
		margin: 20px auto 90px auto;
	}

	footer {
		margin: 80px auto 20px auto;
	}

	.icons {
		width: 25px;
		height: 25px;
	}

	input[type="button"] {
		font-size: 8px;
	}

	.gallery {
		margin-bottom: 0px;
	}

	footer h3 {
		margin-bottom: 5px;
	}
}