#logo {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	background: red;
	min-height: 50px;
	min-width: 50px;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	width: 100vh;
	min-height: 100vh;
	background: #1e1e1e;
}