* {
	margin: 0px;
	padding: 0px;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header {
	width: 100%;
	background-color: #000;
	display: flex;
}

.header__logo {
	text-transform: uppercase;
	color: #fff;
	font-weight: 800;
	font-size: 24px;
	cursor: pointer;
	margin-top: 56px;
	margin-left: 12%;
}

nav {
	margin-top: 56px;
	margin-left: 29%;
}

.topnav a {
	color: #fff;
	text-align: center;
	padding: 11px 16px;
	font-size: 14px;
	font-weight: bold;
}

.topnav a:hover {
	border-bottom: 3px solid #fcac45;
}

.topnav .icon {
	display: none;
}


main {
	display: flex;
	flex-direction: column;
	width: 100%;
}

main .main__welcome {
	background: #000;
	text-align: center;
	padding: 200px 0px 410px 0px;
}

main .main__welcome h1:after {
	display: none;
}

main .main__welcome p {
	color: #999999;
	font-size: 20px;
}

main .main__welcome h1 {
	color: #999999;
	font-size: 44px;
}

.mycompany {
	color: #fcac45;
}


.wrapper {
	width: 76%;
	margin: 0px auto;
}

main .main__about {
	display: flex;
	padding: 100px 0 100px 0;
}

.about__right {
	margin-left: 175px;
}

.about__right h1 {
	display: inline-block;
	border-bottom: 3px solid #fcac45;
	padding-bottom: 20px;
}

.about__right p {
	margin: 30px 0px 50px 0;
	color: #6c6c6c;
	text-align: left;
}

.about__right li {
	background: url("img/mark.png") 0px no-repeat;
	padding-left: 25px;
	margin-top: 10px;
	color: #5c5c5c;
}

.about__right h1:after {
	display: none;
}

.mw-100 {
	min-width: 100%;
}

.about__us {
	font-weight: 600;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}


.main__team {
	background: #000;
	text-align: center;
	padding: 100px 0px 165px 0px;
	color: #fff;
}

.main__team h1 {
	font-size: 44px;
	padding-bottom: 30px;
}

/*.line {
	width: 100px;
	height: 3px;
	background: #fcac45;
	position: relative;
	margin: 0px auto 85px auto;
}*/

.photo {
	background: #d7d7d7;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	margin: 20px auto;
}

.team__cards {
	display: flex;
}

.name {
	font-size: 20px;
	margin-bottom: 7px;
}

.position {
	font-size: 16px;
	margin-bottom: 35px;
}

.about__position {
	font-size: 14px;
}

.card {
	margin: 0px 40px;
}


.services__cards {
	text-align: center;
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-column-gap: 20px;
}

.main__services h1 {
	text-align: center;
	padding: 100px 0px 30px 0px;
}

.main__services p {
	color: #6c6c6c;
	margin-bottom: 100px;
}

.services__card h4 {
	margin-top: 20px;
	margin-bottom: 15px;
}

.main__clients {
	background: #000;
	padding: 100px 0px 205px 0px;
	color: #fff;
	text-align: center;
}

.main__clients h1 {
	margin-bottom: 30px;
}

.main__clients img {
	margin-top: 10px;
	margin-left: 30px;
}

.main_testimonials {
	background: #000;
	text-align: center;
	color: #fff;
	padding-bottom: 170px;
}

.main_testimonials h1 {
	text-transform: uppercase;
	margin-top: 100px;
	margin-bottom: 30px;
}

.main_testimonials .testimonial {
	text-transform: uppercase;
	margin-bottom: 50px;
}


.main__work {
	text-align: center;
	padding: 100px 0px 100px 0px;
}

.main__work h1 {
	margin-bottom: 30px;
}

.main__work p {
	margin-bottom: 175px;
	color: #6c6c6c;
}

.main__work img:hover {
	opacity: 0.9;
}

.main__work img {
	margin: 0px 11px;
	margin-bottom: 22px;
}

.contact__wrapper {
	width: 753px;
	margin: 0px auto;
	color: #636363;
}

.red {
	color: red;
}

.form__inputs {
	display: flex;
}

textarea {
	width: 100%;
	height: 163px;
}

input, textarea {
	border: 1px solid #999999;
	margin-top: 5px;
}

input {
	width: 360px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 30px;
}

input:first-of-type {
	margin-right: 23px;
}

.button__block {
	display: flex;
	justify-content: flex-end;
}

input[type=submit] {
	width: 165px;
	height: 40px;
	background: #fcac45;
	color: #fff;
	margin-right: 0px;
	margin-top: 20px;
}

.contact__form h1, p {
	text-align: center;
}

.contact__form h1 {
	color: #000;
	margin-bottom: 30px;
}

.contact__form p#par {
	margin-bottom: 100px;
}

form p {
	text-align: left;
}

.contact__form {
	padding: 100px 0px 100px 0px;
}

h1:after {
	content: "";
	display: block;
	margin: 0px auto;
	width: 100px;
	padding-top: 30px;
	border-bottom: 3px solid #fcac45;
}

footer {
	width: 100%;
	height: auto;
	background: #222222;
	padding: 30px 0px 30px 0px;
}

.social {
	display: flex;
	justify-content: center;
}

.social img {
	margin-left: 12px;	
}

.social img:hover {
	opacity: 0.6;
}

@media screen and (max-width: 1257px) {
	nav {
		margin-left: 20%
	}
}

@media screen and (max-width: 1093px) {
	nav {
		margin-left: 10%;
	}	
}

@media screen and (max-width: 1010px) {
	.topnav a{
		display: none;
	}
	.topnav .icon {
		float: right;
		margin-top: -17px;
		display: block;
		color: #fff;
		font-size: 25px;
	}
	nav {
		width: 100%;
	}
	.topnav.responsive {
		position: relative;
		top: 50px;
		left: -200px;
	}
	header .topnav.responsive {
		height: 340px;
	}
	.topnav.responsive a.icon {
		position: absolute;
		top: -50px;
		right: -200px;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	main .main__welcome {
		padding: 50px 0px 50px 0;	
	}

	main .main__welcome p {
		font-size: 14px;
	}

	main .main__welcome h1 {
		font-size: 25px;
	}

	.mw-100 {
	max-width: 100%;
	}

	.main__about {
		flex-direction: column;
	}

	.about__right {
		text-align: center;
		margin-left: 0px;
	}

	.about__right li {
		text-align: left;
	}

	.about__right h1 {
		font-size: 20px;
		margin-top: 10px;
	}

	.team__cards {
		flex-direction: column;
	}

	.services__cards {
		grid-template-columns: auto;
	}

	.line1 img:not(:first-child) {
		display: none;
	}
	.line2 img:not(:first-child) {
		display: none;
	}
	.line3 img:not(:first-child) {
		display: none;
	}
}

